.topmenu {
    background-color: var(--nc-lk-1);
    display: flex;
    flex-flow: column;
    position: fixed;
    top: 3rem;
    right: -40rem;
    width: 80%;
    z-index: 99;
    padding: 2rem;
    transition: all .5s ease-in;
}

#toggle:checked ~ .topmenu {
    right: 0;
    transition: all .5 ease-in;
}

.topmenu a {
    display: block;
    color: var(--nc-lk-tx);
    padding: .5rem;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
}

.socials a{
 display: inline-block;
}

.menuinput{
    display: none;
}

.menulabel {
    font-size: 2rem;
    position: fixed;
    top: .5rem;
    right: 1rem;
}

.menulabel:hover {
    cursor: pointer;
}

/*** @media ***/

@media screen and (min-width:48rem) {
    .topmenu {
        position: relative;
        flex-flow: row;
        max-width: 80rem;
        margin: auto;
        top:0;
        right: 0;
        width: 100%;
        padding: 0;
        transition: none;
    }

    .menulabel{
        display: none;
    }
}